<!DOCTYPE html>
<html lang='en-US'>
<head>
  <title>NodeJs</title>
  <link rel="stylesheet" href="/css/tailwind.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
</head> 
<body>
   {{{body}}}
</body>
</html>